.mask {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade 0.4s;
}

.safe-area-bottom {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;

    /* padding-bottom: 100rpx; */
    /* padding-bottom: 30rpx; */
}

.border-bottom {
    position: relative;
}

.border-bottom:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    transform: scaleY(0.5);
    transform-origin: bottom center;
}

.hover {
    opacity: 0.9;
}

@keyframes fade {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 110;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hover {
    opacity: 0.9;
}
.safe-area-bottom {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
}

.margin {
    margin: 24rpx;
}
.margin-h {
    margin: 0 24rpx;
}
.margin-v {
    margin: 24rpx 0;
}

.padding {
    padding: 24rpx;
}
.padding-h {
    padding: 0 24rpx;
}
.padding-v {
    padding: 24rpx 0;
}

icon {
    display: inline;
}

/* flex 布局 */
.flex {
    display: flex;
}
.rows {
    display: flex;
    flex-direction: row;
}
.columns {
    display: flex;
    flex-direction: column;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.nowrap {
    display: flex;
    flex-wrap: nowrap;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.flex-vtop {
    align-items: flex-start;
}
.flex-vcenter {
    align-items: center;
}
.flex-vbottom {
    align-items: flex-end;
}
.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-h {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 文字颜色 */
.black {
    color: #0e151d;
}
.white {
    color: #ffffff;
}
.blue {
    color: #3688ff;
}
.light-blue {
    color: #afcfff;
}
.blue-sky {
    color: #61cbef;
}
.gray {
    color: #a5a7b2;
}
.light-gray {
    color: #bbbbbb;
}
.red {
    color: #e52302;
}
.yellow {
    color: #ffcc00;
}
.light-yellow {
    color: #ecd1a8;
}
.green {
    color: #9dd26d;
}
.orange {
    color: #f27233;
}

/* 背景颜色 */
.bg-black {
    background: #0e151d !important;
    color: #ffffff !important;
}
.bg-white {
    background: #ffffff !important;
    color: #0e151d !important;
}
.bg-blue {
    background: #3688ff !important;
    color: #ffffff !important;
}
.bg-purple {
    background: #555195 !important;
    color: #ffffff !important;
}
.bg-blue-sky {
    background: #61cbef !important;
    color: #ffffff !important;
}
.bg-gray {
    background: #ddd !important;
    color: #ffffff !important;
}
.bg-cancel {
    background: #e8e8e8 !important;
    color: #666 !important;
}
.bg-red {
    background: #f52302 !important;
    color: #ffffff !important;
}
.bg-green {
    background: #9dd26d !important;
    color: #ffffff !important;
}
.bg-yellow {
    background: #f7af09 !important;
    color: #ffffff !important;
}
.bg-brown {
    background: #e0a360 !important;
    color: #ffffff !important;
}
.bg-light-blue {
    background: #afcfff !important;
    color: #ffffff !important;
}
.bg-light-yellow {
    background: #ecd1a8 !important;
    color: #ffffff !important;
}

.bg-orange {
    background: #6432c9 !important;
    color: #ffffff !important;
}
.btn {
    font-weight: 500;
    box-sizing: border-box;
}
.btn-orange-border {
    border: 4rpx solid #6938b6 !important;
    background: white;
    color: #6938b6 !important;
}

/* 渐变背景 */
.gtbg-blue {
    background-image: linear-gradient(45deg, #b100ff 0%, #00b3ff 80%);
    color: #ffffff;
}
.gtbg-pink {
    background-image: linear-gradient(45deg, #ff0066 0%, #ca00ff 80%);
    color: #ffffff;
}
.gtbg-green {
    background-image: linear-gradient(45deg, #39b55a 0%, #8dc63e 80%);
    color: #ffffff;
}
.gtbg-purple {
    background-image: linear-gradient(45deg, #f000ee 0%, #6e00ff 80%);
    color: #ffffff;
}
.gtbg-orange {
    background-image: linear-gradient(160deg, #ffcd00 0%, #ff9b00 80%);
    color: #ffffff;
}
.gtbg-blue-sky {
    background-image: linear-gradient(160deg, #00ffd5 0%, #008cff 80%);
    color: #ffffff;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
}
.list-item .body {
    flex: 1;
    display: flex;
    align-items: center;
}
.list-item-title {
    flex: 1;
}

.placeholder {
    font-size: 28upx;
    color: #c0c4cc;
}

.hover {
    opacity: 0.8;
    background: #eee;
}

.mini {
    font-size: 0.7rem;
}

.small {
    font-size: 0.8rem;
}

.safe-area-bottom {
    padding-bottom: 0;
    padding-bottom: constant(safe-area-inset-bottom) !important;
    padding-bottom: env(safe-area-inset-bottom) !important;
}

.button-reset {
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 1.2;
}

.button-reset::after {
    border: none;
}

.line-through {
    text-decoration: line-through;
    color: #a5a7b2;
}

.border::after {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    border-radius: inherit;
    border: 1px solid #cfcfcf !important;
    transform-origin: 0 0;
    box-sizing: border-box;
}

.border-top::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    transform: scaleY(0.5);
    transform-origin: top center;
}

.border-bottom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    transform: scaleY(0.5);
    transform-origin: bottom center;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 110;
}

.hide-canvas-view {
    position: fixed;
    top: 200%;
}
